@import url(/styles/globals.css);

.container {
  width: var(--width);
  padding: var(--padding);
  background-color: var(--blanchedalmond);
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 10.5rem;
  margin: 0;
}

.image {
  width: 100%;
}

.socialContainer {
  width: 3.5rem;
  margin: 1rem;
}

.pie {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--morado);
}

.pie p {
  font-size: 1.4rem;
  color: bisque;
  margin: 0;
}

.pie p a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: var(--responsive-width);
    padding: var(--responsive-padding);
  }
}

@media screen and (max-width: 480px) {
  .pie p {
    font-size: .8rem;
  }
}